body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: auto;
    padding: 0;
    background: url(./Images/QuoteBack.jpg) no-repeat fixed;


}


.Footer-Block, .Random-Info-Block {
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style: none;
    ;
    margin: 0;
    gap: 16px;
    font-size: 18px;
}

.Header-Block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Header-Links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 20px;
}


.Intro-Block {
    display: flex;
    justify-content: center;
}

.Intro-Container {
    max-width: 450px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.Header-Logo {
    color: #E5E7EB;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.Intro-Body {
    font-size: 18px;
    color: #E5E7EB;
}

a:link {
    text-decoration: none; 
    color: #E5E7EB;
}

.Intro-Header {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.Intro-Block {
    display: flex;
    padding: 30px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

button, .Action-Block {
    background-color: #3882f6;
    color: #F9FAF8;
}

.SignUp-One {
    padding: 15px 40px;
    margin-top: 15px;
    border: #3882f6;
    border-radius: 10%;
    border-style: none;
    border-width: thick;
    font-weight: bolder;
    font-size: 18px;
    max-width: 160px;


}

.Random-Header {
    font-size: 36px;
    font-weight: bolder;
}

.Quote-Block {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    justify-self: center;


}

.Inspiring-Quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 1200px;
    align-self: center;
    display: flex;
    margin-left: 200px;
    padding: 80px;

}

.Quote-Source {
    display: flex;
    font-weight: bolder;
    font-size: 24px;
    flex-direction: row-reverse;
    margin-left: 400px;

}

.Footer-Block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: #F9FAF8;
}

.Intro-Block img {
    object-fit: cut;
    width: 480px;
    height: auto;
    border: #F9FAF8;
    border-radius: 10%;
    border-style: solid;
    border-width: thick;
}


.Random-Info-Block {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: space-around;
    padding: 80px;
}

.Random-Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.Rand-Container {
    display: flex;
    align-items: baseline ;
    justify-content: center;
    padding: 0;
    gap: 80px;

} 


.Random-Info-Block img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: #3882f6;
    border-radius: 10%;
    border-style: solid;
    border-width: thick;
}

.Random-Info {
    width: 200px;
}


.Action-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Action-Block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 5px;
    max-width: 1500px;
    padding: 60px;
    gap: 60px;
    margin: 60px auto;
    flex-flow: row wrap;
}

.SignUp-Two {
    padding: 5px 30px;
    margin-top: 15px;
    border: #3882f6;
    border-radius: 10%;
    border-style: solid;
    border-color: #E5E7EB;
    border-width: thin;
    font-weight: bolder;
    font-size: 18px;
    max-width: 160px;
}

.Action-Header {
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.Footer-Block{
    padding: 2em;
}