body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    height: 100vh;
    padding: 0;
    background: url(./Images/QuoteBack.jpg) no-repeat fixed;


}

.Footer-Block, .Random-Info-Block {
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    gap: 16px;
    font-size: 18px;
}

.Header-Block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Intro-Block {
    display: flex;
    justify-content: center;
}

.Intro-Container {
    max-width: 300px;
    padding: 38px;
}


.Header-Logo {
    color: #E5E7EB;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
}

.Intro-Body {
    font-size: 18px;
    color: #E5E7EB;
}

a:link {
    text-decoration: none; 
    color: #E5E7EB;
}

.Intro-Header {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.Intro-Block {
    display: flex;
    padding: 30px;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

button, .Action-Block {
    background-color: #3882f6;
    color: #F9FAF8;
}

.Random-Header {
    font-size: 36px;
    font-weight: bolder;
}

.Quote-Block {
    color: #F9FAF8;


}

.Inspiring-Quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 80px;

}

.Footer-Block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: #F9FAF8;
}

.Intro-Block img {
    object-fit: cut;
    width: 480px;
    height: auto;
    border: #F9FAF8;
    border-radius: 10%;
    border-style: solid;
    border-width: thick;
}


.Random-Info-Block {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 80px;
    gap:40px;
    padding-left: 0;
    
}

.Random-Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Rand-Container {
    display: flex;
    align-items: baseline ;
    justify-content: center;
    padding: 0;
    gap: 20px;

} 


.Random-Info-Block img {
    object-fit: scale-down;
    width: auto;
    height: 200px;
    border: #3882f6;
    border-radius: 10%;
    border-style: solid;
    border-width: thick;
}